{% extends"base.html.twig" %}
{% block body %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
    {% if app.user and cart %}
<!-- Cart Start -->
<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            {% set totalAmount, shipping = 0, 1 %}
                            <tbody class="align-middle">
                            {% for item in cart %}
                                {% set totalAmount = totalAmount + item.total %}
                            <tr class="cart-item-full">
                                <td>
                                    <div class="img">
                                        <a href="#"><img src="{{ asset('uploads/images/') }}{{ item.product.MainImage is not empty ? item.product.MainImage.FileName : '#' }}" alt="{{ item.product.title }}"></a>
                                        <p>{{ item.product.title }}</p>
                                    </div>
                                 </td>
                                <td>{{ item.product.getCurrentPrice(pm)|format_currency('EUR') }}</td>
                                <td>
                                    <div class="qty">
                                        <button class="btn-minus cart-amount" data-cart="{{ item.id }}" data-product="{{ item.product.id }}" data-user="{{ app.user.id }}" data-direction="minus">
                                            <i class="fa fa-minus"></i></button>
                                        {% set uniqId = "%sABC"|format(item.id) %}
                                        <input readonly data-counter="{{uniqId}}" id="{{uniqId}}" class="current-amount" type="text" value="{{ item.quantity }}">
                                        <button class="btn-plus cart-amount" data-cart="{{ item.id }}" data-product="{{ item.product.id }}" data-user="{{ app.user.id }}" data-direction="plus">
                                            <i class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                                <td><span id="{{ item.id }}">{{ item.total|format_currency('EUR') }}</span></td>
                                <td><button><a href="{{ path('cart_remove', {'product' : item.product.id}) }}"><i class="fa fa-trash"></i></a></button></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>{{ totalAmount | format_currency('EUR') }}</span></p>
                                    <p>Shipping Cost<span>{{ shipping | format_currency('EUR') }}</span></p>
                                    {% set finalTotal = totalAmount + shipping  %}
                                    <h2>Grand Total<span>{{ finalTotal | format_currency('EUR') }}</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <button><a style="color: #0a0a0a" href="{{ path('pages/cart')}}">Update Cart</a></button>
                                    <button><a style="color:white" href="{{ path('pages/checkout') }}">Checkout</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            {% endif %}
<!-- Cart End -->
{% endblock %}