{% extends "base.html.twig" %}
{% block body %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active">Wishlist</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Wishlist Start -->
    <div class="wishlist-page">
        <div class="container-fluid">
            <div class="wishlist-page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Add to Cart</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                {% if app.user and wishList %}
                                <tbody class="align-middle">
                                    {% for wish in wishList %}
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="{{ asset('uploads/images/') }}{{ wish.product.MainImage is not empty ? wish.product.MainImage.FileName : '#' }}" alt="{{ wish.product.title }}"></a>
                                            <p>{{ wish.product.title }}</p>
                                        </div>
                                    </td>

                                    <td>
                                        <button class="btn-cart add-to-cart">
                                            <a class ="addToCart" data-secret="true" data-product="{{ wish.product.id }}" data-user="{{ app.user.id}}" href="#">Add to Cart</a>
                                        </button>
                                    </td>
                                    <td>
                                        <button><a href="{{ path('wishlist_remove', {'product' : wish.product.id}) }}"><i class="fa fa-trash"></i></a></button>
                                    </td>
                                </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wishlist End -->
{% endblock %}