{% extends "base.html.twig" %}
{% block body %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active">Wishlist</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    {% if app.user and wishList %}
    <!-- Wishlist Start -->
    <div class="wishlist-page">
        <div class="container-fluid">
            <div class="wishlist-page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Add to Cart</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for wish in wishList %}
                                <tr class="wishlist-element">
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="{{ asset('uploads/images/') }}{{ wish.product.MainImage is not empty ? wish.product.MainImage.FileName : '#' }}" alt="{{ wish.product.title }}"></a>
                                            <a href="{{ path('pages/product_details_show', {'slug' : wish.product.id }) }}"><p>{{ wish.product.title }}</p></a>
                                        </div>
                                    </td>

                                    <td>
                                        <button class="btn-cart add-to-cart">
                                            {% set quantity = productManager.getProductAmountInStock(wish.product) %}
                                                {% if quantity is not null and quantity > 0 %}
                                            <a class="addToCart delete_cart" data-secret="true" data-product="{{ wish.product.id }}" data-user="{{ app.user.id}}" href="{{ path('pages/wishlist') }}">Add to Cart</a>
                                                {% else %}
                                                    <a href="#" disabled="">Out of Stock</a>
                                                {% endif %}
                                        </button>
                                    </td>
                                    <td>
                                        <form action="{{ path('wishlist_remove', {'product' : wish.product.id}) }}" method="post">
                                            <button name="data" ><i class="fa fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Wishlist End -->
{% endblock %}